<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeus.mapper.BoardMapper">
	<insert id="create">
		INSERT INTO mybatisBoard(no, title, content,
		writer)
		VALUES(mybatisBoard_seq.NEXTVAL, #{title}, #{content}, #{writer})
	</insert>
	
	<select id="read" resultType="Board">
		SELECT no, title, content, writer, regDate FROM mybatisBoard
		WHERE no = #{no}
	</select>
	
	<update id="update">
		UPDATE mybatisBoard
		SET title = #{title}, content = #{content}, writer = #{writer}
		WHERE no = #{no}
	</update>
	<delete id="delete">
		DELETE FROM mybatisBoard WHERE no = #{no}
	</delete>
	<select id="list" resultType="Board"> 
		<![CDATA[ 
		SELECT no, title, content, writer, regDate 
		FROM mybatisBoard WHERE no > 0 
		ORDER BY no DESC, regDate DESC 
		]]>
	</select>
	<select id="search" resultType="Board">
		SELECT * FROM mybatisBoard
		<where>
			<if test="keyword != null and keyword != ''">
				<choose>
					<when test="searchType == 'title'">
						AND title LIKE '%' || #{keyword} || '%'
					</when>
					<when test="searchType == 'content'">
						AND content LIKE '%' || #{keyword} || '%'
					</when>
					<when test="searchType == 'writer'">
						AND writer LIKE '%' || #{keyword} || '%'
					</when>
					<otherwise>
						AND title LIKE '%' || #{keyword} || '%'
					</otherwise>
				</choose>
			</if>
		</where>
		ORDER BY no DESC
	</select>
</mapper>